<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=277108029763781&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <% if (message) { %>
        <div class="alert alert-danger"><%- message %></div>
    <% } %>
    <!-- LOGIN FORM -->
    <form action="<%= action %>" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" id="emailNew" title="email">
        </div>
        <% if(action === "signup") { %>
        <div class="form-group">
            <label>Password</label>
            <% include ../static/pages/password.html %>            
        </div>
        <% } else { %>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" title="password">
        </div>
        <% } %>
        <button class="btn btn-primary"
            onclick="validateCredentials(event)"
            id="submit_<%= action %>" <%= (action === 'signup' ? ' disabled="disabled"' : '') %>><%= actionTitle %></button>
        <div class="fb-login-button" style="top:5px;"
             data-max-rows="1"
             data-size="medium"
             data-button-type="login_with"
             data-show-faces="false"
             data-auto-logout-link="false"
             data-use-continue-as="false"></div>
        <hr>
        <p><% include ../static/pages/recaptcha.html %><%- include(promptLocation) %></p>
    </form>
</div>
</div>
<script type="text/javascript">
window.btn = $('#submit_<%= action %>');
</script>